<h1>orpheus_tw</h1>

<%= link_to '作曲する', new_song_path %>

<ul>
<% @songs.each do |song| %>
  <li>
    <%= song.id %> : <%= link_to song.text, song %>
  </li>
<% end %>
</ul>

<p><a href="/songs/new#about">これは何？</a></p>

