<h1>orpheus_tw</h1>

<% form_for(@song) do |f| %>
  <%= f.error_messages %>
  <p>
    歌詞 <br />
    <%= f.text_area :text, :cols => 20, :rows => 5 %>
  </p>
  <p>コメント <br />
  <%= f.text_field :comment %></p>
  <p>
    <%= f.submit '作曲する' %>
  </p>
<% end %>

<a name="about"></a>
<h2>これは何？</h2>

<p>
orpheus_tw は、歌詞を入力すると、東京大学「自動作曲システム オルフェウス」で作曲し、その曲を Twitter の <a href="http://twitter.com/orpheus_tw">@orpheus_tw</a> のツイートとして公開するシステムです。
</p>
<p>
orpheus_tw は無保証です。オルフェウスの運用に支障が生じる場合、Twitter の利用規約を遵守できない場合など、予告なしにデータの削除および公開の中止をする場合があります。
</p>
<p>
orpheus_tw は<a href="http://twitter.com/nishimotz">@nishimotz</a>が個人的な活動として開発・運用しています。
</p>

<p><a href="http://orpheus.hil.t.u-tokyo.ac.jp/automatic-composition/index.cgi">powered by orpheus</a></p>

